Port 2222
HostKey $PWD/ssh_host_ed25519_key
PidFile $PWD/sshd.pid

# PAM is necessary for password authentication on Debian-based systems
UsePAM yes

# Only allow single user
AllowUsers $USER

# Only allow those keys
AuthorizedKeysFile $PWD/authorized_keys

# Force to start tmux on login
ForceCommand tmux attach

ClientAliveInterval 30
ClientAliveCountMax 3
TCPKeepAlive yes

# vim: ft=sshdconfig
